
   <app-sidemenu>  </app-sidemenu>
 
 
<!-- <div class="row"> 
  <div class="col-md-3 "style="margin-top:60px">
    <app-dashboard-sidebar> </app-dashboard-sidebar>
 </div>
  <div class="col-md-9">
     <div class="row">
         <div class="page-header text-center">
           <h1 style="margin-top:80px">Dashboard</h1>
         </div>
        <div class="col-md-3">  <app-dashboard>  </app-dashboard> </div>
        <div class="col-md-3">  <app-dashboard>  </app-dashboard> </div>
        <div class="col-md-3">  <app-dashboard>  </app-dashboard> </div>
        <div class="col-md-3">  <app-dashboard>  </app-dashboard> </div>
    </div><br><br><br>
        <app-table> </app-table>     
  </div>
</div> -->




<div class="col-md-9">
  <br>  
    <!-- <app-star-comp> </app-star-comp> -->
    <!-- <app-table> </app-table> -->
    <!-- <app-struct-directive></app-struct-directive> -->
</div>
