 
<app-nav-bar> </app-nav-bar>
<app-sidemenu>  </app-sidemenu>

<div class="container-relative">  
  <div class="row"> 
    <div class="col-md-12">

        <div class="col-md-2">
          <ul>
           <li>Hello</li>
             <li>Hello</li>
               <li>Hello</li>
                 <li>Hello</li>
                   <li>Hello</li>
                     <li>Hello</li>
                       <li>Hello</li>
                         <li>Hello</li>
                           <li>Hello</li>
          </ul>
        </div>

        <div class="col-md-9">
          <br>  
            <app-star-comp> </app-star-comp>
            <app-table> </app-table>
            <app-struct-directive></app-struct-directive>
        </div>

    </div>
  </div>
</div>




 
































 
  
 <!--<div class="col-md-12">
      <nav class="navbar navbar-default">
          <div class="container-relative">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menubar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
              </button>
              <a class="navbar-brand" href="#">  xTantransh</a>
            </div>
            
          <div class="collapse navbar-collapse" id="menubar" >
            <ul class="nav navbar-nav navbar-right">-->
                <!--<li class="active"><a href="#">Home</a></li>
                <li class="active"><a href="#">Products</a></li>
                <li class="active"><a href="#">Services</a></li>
                <li class="active"><a href="#">Our Team</a></li>
                <li class="active"><a href="#">About</a></li>                
            </ul>
          </div>
      </div>
   </nav>
 </div>-->
 <!--<div class="col-md-13">
<nav class="navbar fixed-top navbar-toggleable-xl navbar-primary bg-primary"> -->
<!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>
 
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menubar">
                 
              </button>-->
             
 <!--</nav>
  </div>-->
          <!--<div class="container-relative">-->
                      <!--<div class="container-relative">-->
<!--

 <div class="col-md-2 " >
   
      <article data-spy="scroll" data-target="#scrollspy-nav" data-offset="0"
          style="overflow: scroll; width: 15vw;height: 80vh;font-size: 1vw;">
          
          
          <ul class="nav " >
            
          <li class="nav-item ">
          <a class="nav-link active" href="#">HTML</a>
          </li>

          <li class="nav-item">
          <a class="nav-link active" href="#">CSS</a>
          </li>

          <li class="nav-item">
          <a class="nav-link active " href="#">JavaScript</a>
          </li>

          <li class="nav-item">
          <a class="nav-link active" href="#">Preview</a>
          </li>
          <li class="nav-item">
          <a class="nav-link active" href="#">HTML</a>
          </li>

          <li class="nav-item">
          <a class="nav-link active" href="#">CSS</a>
          </li>

          <li class="nav-item">
          <a class="nav-link active " href="#">JavaScript</a>
          </li>
            
          <li class="nav-item ">
          <a class="nav-link active" href="#">HTML</a>
          </li>

          <li class="nav-item">
          <a class="nav-link active" href="#">CSS</a>
          </li>

          <li class="nav-item">
          <a class="nav-link active " href="#">JavaScript</a>
          </li>
          <li class="nav-item">
          <a class="nav-link active" href="#">Preview</a>
          </li>
          <li class="nav-item">
          <a class="nav-link active" href="#">Preview</a>
          </li>
          <li class="nav-item">
          <a class="nav-link active" href="#">HTML</a>
          </li>

          <li class="nav-item">
          <a class="nav-link active" href="#">CSS</a>
          </li>

          <li class="nav-item">
          <a class="nav-link active " href="#">JavaScript</a>
          </li>

          <li class="nav-item">
          <a class="nav-link active" href="#">Preview</a>
          </li>
          </ul>
      </article> 
</div>

 <div class="col-md-10 " >

<ul  class="nav nav-pills">
	
<li class="nav-item">
<a class="nav-link active" href="#">HTML</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">CSS</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">JavaScript</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">Preview</a>
</li>
	
<li class="nav-item">
<a class="nav-link active" href="#">HTML</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">CSS</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">JavaScript</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">Preview</a>
</li>	
<li class="nav-item">
<a class="nav-link active" href="#">HTML</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">CSS</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">JavaScript</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">Preview</a>
</li>

</ul>
 </div>
 </div>
 -->