
<!--<div class="row" *ngFor="let rat of reviews">
  <div class="col-md-12 well">
    <div>
      {{rat.review}}
    </div> 
    <app-star-comp [(ngModel)]="rat.rating" [max]="10"> </app-star-comp>
    <div class="pull-right"><b>{{rat.rating}}</b></div>
  </div>
</div>-->
    <!--<rating [(ngModel)]="rat.rating" [max]="10" ></rating> -->


<div class="container well">
    <!-- regular rating -->
    <rating [(ngModel)]="starsCount"></rating>{{starsCount}} Stars
    <input type="button" class="btn btn-success" value="Okay" (click)="well = !well"> 
    <br/><br/>
</div>